.Meny {
    position: fixed;
    z-index: 200;
    background-color: transparent;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    top: 20%;
    left: 23.5%;
    width: 50%;
    height: 55%;
    align-items: center;
}


.NavigationsLank {
    color: #ffd268;
    font-family: fantasy, sans-serif; 
    font-weight: bold;
    margin-top: 2rem;
    text-decoration: none;
}

.UnderNavigationsLank {
    color: #ffd268;
    font-family: fantasy, sans-serif; 
    font-weight: bold;
    margin-top: 1rem;
}



.StangKnapp {
    margin-top: 0.2rem;
}

.UnderNavigationsLank:hover {
    background-color: #e2af38;
}

.NavigationsLank:hover {
    background-color: #e2af38;
}


@media(max-width:480px) {
    .Meny {
        padding: 2px;
        left: 22.5%;
    }
}

@media(max-width:768px) {
    .NavigationsLank {
        font-size: 24px;
    }
}

@media(min-width:1024px) {
    .NavigationsLank {
        font-size: 24px;
    }
    .UnderNavigationsLank {
        font-size: 18px;
    }

}
